meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name="fragment",content="!")

meta(property='og:title', __content="{{pageTitle}}")
meta(name='description', __content='{{desc}}')
meta(name='keywords', __content='{{keywords}}')
meta(property='og:description', __content='{{desc}}')

meta(property='og:site_name', __content=config.projectName)
meta(property='fb:app_id', __content='{{facebookAppId}}')
meta(property='og:url', __content="{{pageUrl}}")
meta(property='og:image', __content='{{image}}')
meta(property='og:image:width', content="851")
meta(property='og:image:height', content="446")
meta(property='og:type', content="website")
meta(property='al:ios:app_store_id', __content='{{appStoreId}}')
meta(property='al:ios:url', __content='{{deepLink}')
meta(property='al:ios:app_name', __content='{{appName}}')

link(rel='icon', type='image/png', href='/resources/imgs/favicon/favicon.ico')
link(rel='apple-touch-icon', sizes='180x180', href='/resources/imgs/favicon/favicon.ico')
link(rel='icon', type='image/png', href='/resources/imgs/favicon/favicon.ico', sizes='32x32')
link(rel='icon', type='image/png', href='/resources/imgs/favicon/favicon.ico', sizes='16x16')
//- link(rel='manifest', href='manifest.json')
link(rel='mask-icon', href='/resources/imgs/favicon/favicon.ico', color='#5bbad5')
meta(name='theme-color', content='#ffffff')