footer.footer.hero-foot
    .content.has-text-centered.is-vcentered
        p
            //- strong {{appName}}
            a.bold(href="https://github.com/Feedox/alt-gpt",target="_blank") 
                i.fab.fa-github.bigger
                span &nbsp;Contribute on GitHub
            //- |  by 
            span &nbsp; | &nbsp;
            //- a(href='https://github.com/livshitz') Elya Livshitz
            a(href='mailto:info@feedox.com') info@feedox.com
        //- p.small
            router-link(to='/privacy') Privacy Policy
            span &nbsp;|&nbsp;
            router-link(to='/terms') Terms of Service
