- var projconfig = JSON.parse(JSON.stringify(config)); // <- Executed by pug, will remove private config from public web javascript context
- var livereloadPort = projconfig.private.livereloadPort;
- delete projconfig.private; // <- Executed by pug, will remove private config from public web javascript context
- var isDev = projconfig.env == 'dev';

doctype html

html
	head
		if !isDev 
			// Google tag (gtag.js)
			script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-EBE9QG4KXK', skip)
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'G-EBE9QG4KXK');

		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
		meta(name="fragment",content="!")
		base(href="/")

		title() feedox
		include ./exMeta.pug
		
		// build:css bundle/bundle.css
		//- Frame styles:
		link(rel="stylesheet",href="./node_modules/frame.libx.js/build-web/bundle/bundle.css")
		link(rel="stylesheet",href="./node_modules/frame.libx.js/build-web/styles/icons.css")
		link(rel="stylesheet",href="styles/style.css",defer)
		link(rel="stylesheet",href="styles/vue-components.css",defer)
			
		//- Project styles:
		//- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css')
		//- link(rel="stylesheet",href="https://unpkg.com/buefy@0.9.3/dist/buefy.min.css",defer)
		//- link(rel="stylesheet",href="./node_modules/buefy/dist/buefy.css",defer)
		// endbuild
		

		// build:jsBundle bundle/libs.js
		//- Frame scripts:
		//- script(src="./node_modules/frame.libx.js/build-web/bundle/libs.js")

		//- The core Firebase JS SDK is always required and must be listed first
		//- script(src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js')
		//- script(src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js')
		//- script(src='https://www.gstatic.com/firebasejs/9.6.7/firebase-database-compat.js')
		//- script(src='https://www.gstatic.com/firebasejs/9.6.7/firebase-storage-compat.js')
		//- script(src='https://www.gstatic.com/firebasejs/9.6.7/firebase-analytics-compat.js')

		//- SystemJS:
		script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.6.1/system.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.6.1/extras/named-exports.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.6.1/extras/named-register.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.6.1/extras/global.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.6.1/extras/use-default.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.6.1/extras/dynamic-import-maps.min.js')

		//- script(src="/frame/scripts/ts/browserified/frame.js")
		//- script(src="/scripts/ts/browserified/index.js")

		//- Project scripts:
		//- script(src="./node_modules/sanitize-html/index.js")
		// endbuild

		script.
			var exports = {}; // quick fix because 'exports' is not defined in rich-text bundle below
			window.prerenderReady = false;
			window.projconfig = !{JSON.stringify(projconfig)};

	body
		#app.app-container
			section.hero.is-fullheight
				include header.pug
			
				// Hero content: will be in the middle
				section.hero.is-success.is-fullheight(v-show='!isReady').has-background-grey-darker
					.hero-body
						.container
							h1.title.text-center 
								span.loader
								span.middled &nbsp; Loading...
							//- h2.subtitle
								
				div(v-show='isReady')
					main.app-content
						//- keep-alive
						router-view(v-cloak)
				
				include footer.pug
			
	script.
		document.addEventListener('DOMContentLoaded', () => {
			(document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
				$notification = $delete.parentNode;
				$delete.addEventListener('click', () => {
					$notification.parentNode.removeChild($notification);
				});
			});
		});

	// IE11 Support:
	script.
		if (typeof Promise === 'undefined')
		document.write('<script src="https://unpkg.com/bluebird@3.7.2/js/browser/bluebird.core.min.js"><\\/script>');
		if (typeof fetch === 'undefined')
		document.write('<script src="https://unpkg.com/whatwg-fetch@3.4.1/dist/fetch.umd.js"><\\/script>');

	script(type='systemjs-importmap').
		{
			"imports": {
				"@scripts/ts/browserified/": "/scripts/ts/browserified/",
				"@proj/libs/src": "/scripts/ts/libs/",
				"frame.libx.js/build-web/": "/frame/",
				"libx.js/": "node_modules/libx.js/",
				"libx.js/build/bundles/browser.essentials": "node_modules/libx.js/build/bundles/browser.essentials.js"
			}
		}
	// load a locally hosted module
	script(type="application/javascript").
		{
			const b = System.import('/scripts/ts/browserified/index.js');
			Promise.all([b]).then(async (m)=> {
				System.import('/scripts/ts/index.js').then(async (mod)=> {
					await mod.bootstrap();
					console.log('bootstrapped')
				});
			});
		}


